{
  "presets": ["es2015", "react", "stage-2"],
  "env": {
    "test": {
      "plugins": ["rewire"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {        
        "commons": "./melinda-ui-commons/frontend/js/",
        "server": "./melinda-ui-commons/server/"
      }
    }]
  ]
}