{
  "presets": ["es2015", "react", "stage-2"],
  "env": {
    "dev": {
      "plugins": ['react-hot-loader']
    },
    "test": {
      "plugins": ["rewire"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "server": "@natlibfi/melinda-ui-commons/dist/server/",
        "commons": "@natlibfi/melinda-ui-commons/dist/frontend/js/",
      }
    }]
  ]
}
