
.modal-merge-dialog {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(1,1,1,0.2);


  a.disabled {
    color: #9F9F9F !important;
    cursor: default !important;
  }

  .message-container {

  }
  .code {
    padding: 2px;
    margin-right: 3px;
  }
  .message {

  }
  .response-container {

    & > div {
      margin-bottom: 3px;
      border: 1px solid #9F9F9F;
      border-radius: 5px;
      padding: 5px;
      max-height: 700px;
      overflow-y: auto;
    }
  }
}
