.error-message-panel {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.row-no-bottom-margin {
  margin-bottom: 0px;
}

.title-row-card {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-top: 1rem;
  margin-top: 0px;
  border-bottom: #305d6d30 solid 1px;

  .title-wrapper {
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      margin-top: 6px;
      margin-bottom: 20px;
    }

    .title {
      line-height: 40px;
      text-transform: uppercase;
      width: 100%;
      font-size: 1.5rem;
    }
  }

  .input-field {
    margin-top: 10px;
    input {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }

  .button {
    margin-right: 7px;

    .disabled {
      color: grey !important;
      pointer-events: none;
      cursor: default;
    }

    .active > i {
      border-bottom: #305d6d70 solid 3px;
      background: #305d6d30;
      &:hover {
        background: #305d6d50;
      }
    }

    a {
      display: inline;
      margin-right: 7px;

      i {
        padding: 3px;
        font-size: 2rem;
        margin-right: 0px !important;
        &:hover {
          background: #00000020;
        }
      }
    }
  }
}
