.card-panel {
  box-sizing:border-box;
  &.marc-record {
    font-family: 'Roboto Mono'; 
    white-space: pre-wrap; 
    overflow-x: auto;
  }
  &.is-dragging {
    opacity: 0.7;
  }
}

.is-compacted {

  &> td {
    padding: 0
  }
  .marc-record-subrecord {
    .card-content {
      padding: 0
    }
  }  
}
