
.subrecord-merge-panel {
  
  tr {
    td { 
      vertical-align: top;

      .fill-height {
        min-height: 110px;
      }

      .marc-record-subrecord  {
        min-height: 110px;
        margin: 0;
      }
    }

    &.is-over {
      outline: 2px dashed #66bb6a;
    }
  }

}