
@import 'vendor/materialize/materialize';

html {
  overflow-y: scroll;
}

.navbar-fixed {
  z-index: 1000;    
}

.navbar-fixed nav {
  position: static;    
}

.status-info {
  margin-left: 10px;
  margin-right: 10px;
  p {
    padding: 5px 0;
    text-align: center;
    font-size: 1rem;
  }
}